body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.form{
    width: 500px;
    padding: 20px;
    border:solid 2px rgb(82, 34, 34);
    background-color: rgb(41, 88, 102);
    margin: 10px;
}