body{
    font-family: sans-serif;
    font-size: 18px;
}
.form{
    width: 500px;
    padding: 20px;
    border:solid 2px #333;
    background-color: #ccc;
    margin: 10px;
}
label{
    display: block;
    font-weight: bold;
}
button{
    background: #3c3eaa;
    color: white;
    text-transform: uppercase;
    border:0;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #cc3f08;
}