*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    font-size: 14px;
    
}
ul.lista, ul.lista2{
    list-style: none;
    padding: 0;
    margin: 25px 0 0 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
ul.lista li, ul.lista2 li{
    width: 350px;
    height: 50px;
    padding: 10px;
    color: white;
    background:#9c0d71;
    text-align: center;
    margin:10px 0 10px 0;
}

ul.lista2 li{
    background: #045730;
}